# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Compile and Publish

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y_%m_%dT%H_%M_%S')"

      - name: Compile
        id: compile
        run: bun install
          -  bun run compile.js

      - name: Create release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          automatic_release_tag: ${{ steps.date.outputs.date }}
          title: string ${{ steps.date.outputs.date }} release
          files: dist/*
